ion-thumbnail {
 --size: 100px;
 --border-radius: 55px;
}

.color {
  background-color: rgb(222, 222, 226);
}

@media only screen and (max-width: 410px) {
 .size {
   font-size: 1.5vh;
 }
}

.flex {
 display: flex;
}

.padding {
 padding-left: 15px;
}

.padding2 {
 padding-left: 15px;
 padding-top: 10px;
}
